%p
  To select votes for this issue,
  = link_to "search", search_path
  or
  = link_to "browse", divisions_path
  for divisions. On the page for each division you can choose how somebody
  supporting this issue would have voted. If you haven't edited a issue
  before please #{link_to "read about how issues work", help_faq_path(anchor: "policies")}.
